*{
	/*border-style: solid;*/
}

#campaignname{
	margin:0px;
	width: 100%;
	border-top:    1px dashed black;
  	border-right:  1px dashed black; 
  	border-left: 1px dashed black;
  	background-color: #82B4FF;
}

#eventname{
	margin:0px;
	font-size:40px;
	font-weight: 400;
}

#image{
	/*background-color: red;*/
	background-image: url("../images/apple.jpg");
	/*background-repeat: no-repeat;*/
	background-position: center;
}

#location{
	font-size:25px;
}

#location{
	margin-left:5%;
}

#info{
	width:100%;
}

#image, #detail{
	width: 50%;
	float:left;
	min-height: 350px;
}

#detail{
	padding-left: 3%;
}